<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./../static/style.css">
</head>

<body>

    <section class="formSection">
        <h1>Language Detector</h1>
        <ul>
            <li>English</li>
            <li>Portuguese</li>
            <li>Spanish</li>
            <li>French</li>
            <li>German</li>
        </ul>
        <form action="" class="formMainContent" method="get">
            <label for="clientInput">Sentence :</label>
            <input type="text" id="clientInput" name="clientInput" autocomplete="off">
            <button type="submit">Submit</button>
        </form>

        <div class="formResultado">
            <div class="linhaSeparadora"></div>
            <h3>Result</h3>
            <p class="formResultadoData">ex: Portuguese</p>
        </div>

    </section>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="./../static/script.js"></script>

</body>

</html>